aiofiles==0.5.0
aniso8601==7.0.0
async-exit-stack==1.0.1
async-generator==1.10
autopep8 @ file:///tmp/build/80754af9/autopep8_1596578164842/work
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
dnspython==2.1.0
email-validator==1.1.2
fastapi==0.63.0
filelock==3.0.12
google-api-core==1.25.1
google-auth==1.24.0
google-cloud-core==1.5.0
google-cloud-storage==1.35.0
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
h11==0.12.0
httptools==0.1.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
MarkupSafe==1.1.1
numpy==1.19.5
orjson==3.4.7
packaging==20.9
Pillow==8.1.0
promise==2.3
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pydantic==1.7.3
pyparsing==2.4.7
python-dotenv==0.15.0
python-multipart==0.0.5
pytz==2020.5
PyYAML==5.4.1
regex==2020.11.13
requests==2.25.1
rsa==4.7
Rx==1.6.1
sacremoses==0.0.43
six==1.15.0
starlette==0.13.6
tokenizers==0.9.4
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
torch==1.7.1
torchaudio==0.7.2
torchvision==0.8.2
tqdm==4.56.0
transformers==4.2.2
typing-extensions==3.7.4.3
ujson==3.2.0
urllib3==1.26.3
uvicorn==0.13.3
uvloop==0.14.0
watchgod==0.6
websockets==8.1
